footer {
  background-color: map-get($colors, primary);
  color: map-get($colors, white);

  .footer-top {
    display: flex;
    padding: 40px 0;

    &-left {
      @include flex-between-y;
      width: 375px;
      margin-right: 170px;
    }

    .logo {
      margin-bottom: 24px;
    }

    .socials-list {
      display: flex;
      align-items: center;

      .social-item {
        @include evenly-space-x(33px);
      }
    }

    &-right {
      flex: 1;
    }

    .option-title {
      font-size: map-get($font-size, md);
      font-weight: map-get($font-weight, bold);
      margin-bottom: 19px;
    }

    .option-item {
      padding: 4px 0;

      a {
        color: map-get($colors, white);
      }
    }
  }

  .footer-copyright {
    padding: 24px 0;
    border-top: 1px solid map-get($colors, white);
    text-align: center;
  }
}

@include responsive-below(map-get($breakpoint, mobile)) {
  footer {
    .footer-top {
      flex-direction: column;
      padding: 24px 0;

      &-left {
        width: 100%;
      }

      .socials-list {
        display: none;
      }

      .about {
        margin-bottom: 48px;
      }

      .option-title {
        margin-bottom: 14px;
      }

      .options-list {
        margin-bottom: 24px;
      }
    }
  }
}
