.row {
  display: flex;
  margin: -(map-get($gutter, laptop));
  flex-wrap: wrap;
  @include build-grid();
}

@include responsive-below(map-get($breakpoint, mobile)) {
  .row {
    margin: -(map-get($gutter, mobile));
    @include build-grid('sm');
  }
} ;
