.container {
  max-width: 1172px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-section {
  padding: $padding-section 0;
}

.section-heading {
  @include flex('beetween', 'center');
  margin-bottom: 39px;
}

.section-title {
  flex: 1;
  font-weight: map-get($font-weight, light);
  font-size: map-get($font-size, xxxl);
}

@include responsive-below(map-get($breakpoint, mobile)) {
  .container {
    padding: 0 24px;
  }

  .page-section {
    padding: 24px 0;
  }

  .section-heading {
    margin-bottom: 16px;

    .btn {
      border: 1px solid transparent;
    }
  }
  .section-title {
    font-size: map-get($font-size, lg);
  }
}
