input.form-control {
  height: 48px;
  width: 100%;
  padding: 14px 20px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 61px;
  outline: none;
  font-family: $font-family;

  &.invalid {
    border-color:red;
    color: red;
  }
}
