.product {
  position: relative;
  transition: 0.2s ease-in-out;
  &-img {
    display: flex;
    margin-bottom: 16px;
  }

  &-name {
    font-weight: map-get($font-weight, light);
    font-size: map-get($font-size, md);
  }

  &-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: map-get($font-size, xl);

    .price-discount {
      color: map-get($colors, danger);

      & + .price-current {
        color: #cecece;
      }
    }
  }

  .badge {
    position: absolute;
    top: 30px;
    left: 27px;
  }

  &-btn {
    position: absolute;
    left: 50%;
    bottom: 100px;
    height: 35px;
    padding: 10px;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
  }

  &:hover {
    &::after {
      content: '';
      @extend %absolute-fit;
      background-color: #acacac;
      opacity: 0.2;
    }

    .product-btn {
      opacity: 1;
    }
  }
}

@include responsive-below(map-get($breakpoint, mobile)) {
  .product {
    &-img {
      margin-bottom: 0;
    }

    &-name {
      font-size: map-get($font-size, xs);
      margin-bottom: 3px;
    }

    &-price {
      font-size: 10px;
    }

    &-info {
      padding: 4px;
    }

    .badge {
      top: 12px;
      left: 9px;
    }
  }
}
