.cart {
  padding-top: 80px;
  padding-bottom: 40px;

  &-item {
    position: relative;
    @include flex('beetween', '');
    padding: 20px 0;
    border-bottom: 1px solid #ccc;

    &-left {
      display: flex;
    }

    .badge {
      position: absolute;
      top: 25px;
      left: 5px;
      font-size: 8px;
      padding: 0 4px;
    }
  }

  &-name {
    font-size: map-get($font-size, md);
  }

  &-img {
    height: 140px;
    margin-right: 20px;
  }

  &-price {
    display: flex;
    font-size: map-get($font-size, lg);

    .price-discount {
      color: map-get($colors, danger);
      margin-right: 20px;

      & + .price-current {
        color: #aeaeae;
      }
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-item-total {
    span {
      color: map-get($colors, primary);
    }
  }

  &-option {
    @include flex('beetween', 'end');
    flex-direction: column;

    .quantity {
      button {
        padding: 5px 10px;
      }

      input {
        padding: 5px;
        width: 40px;
        text-align: center;
      }
      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }
    .remove-btn {
      height: 30px;
      color: map-get($colors, danger);
    }
  }

  &-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
    font-size: 20px;
    color: map-get($colors, primary);
    p {
      margin-bottom: 20px;

      span {
        margin-left: 20px;
        color: map-get($colors, black);
      }
    }

    button {
      height: 40px;
      width: 100px;
    }
  }

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-empty-img {
    width: 400px;
    height: 200px;
  }
}
