$banner-height: 800px;
.section-banner {
  @extend %background-image_default;
  padding: 0;
  position: relative;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%),
    url('../../app/assets/images/fashion-banner-1.png');
  height: $banner-height;

  .banner-inner {
    @include flex('beetween', '');
    flex-direction: column;
    height: $banner-height;
  }

  .banner-content {
    padding: 222px 0 0 96px;
    color: map-get($colors, white);
  }

  .banner-title {
    width: 403px;
    margin-bottom: 24px;
    line-height: 73px;
    font-size: 72px;
  }

  .banner-link {
    @include flex('', 'center');

    &-text {
      margin-left: 21px;
      text-decoration: underline;
      font-size: map-get($font-size, xxl);
      font-weight: map-get($font-weight, bold);
      color: map-get($colors, white);
    }
  }

  .offers-list {
    display: flex;
    padding: 0 0 24px 96px;
    z-index: 1;

    .offer-item {
      margin-right: 48px;
      max-width: 236px;
    }

    .offer-icon {
      @include flex-centered;
      flex-shrink: 0;
      background-color: #fff3df;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 125px;
    width: 75%;
    border-top-right-radius: 70px;
    background-color: map-get($colors, white);
  }
}

.category {
  position: relative;

  &-img {
    position: relative;
    height: 359px;

    &::after {
      @extend %absolute-fit;
      content: '';
      background-color: #333333;
      opacity: 0.5;
    }
  }

  &-content {
    @include flex('end', '');
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    left: 40px;
    bottom: 53px;
    color: map-get($colors, white);

    .badge {
      margin-bottom: 8px;
    }
  }

  &-title {
    height: 91px;
    font-size: map-get($font-size, xxl);
    font-weight: map-get($font-weight, regular);
  }
}

.section-benefits {
  background-color: #f7f7f7;

  .benefit-item {
    &:hover svg path {
      fill: map-get($colors, primary);
      transition: 0.2s ease-in-out;
    }

    &:hover .media-title {
      color: map-get($colors, primary);
      transition: 0.2s ease-in-out;
    }
  }

  .section-heading {
    margin-bottom: 50px;
  }

  .benefit-icon {
    @include flex-centered;
    background-color: map-get($colors, white);
  }
}

.section-subcribe {
  @include flex-centered;
  @extend %background-image_default;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 33.28%, rgba(0, 0, 0, 0) 94.05%),
    url('../../app/assets/images/fashion-footer.png');

  .subcribe {
    height: 241px;
    align-items: center;

    &-title {
      font-size: map-get($font-size, xxl);
      font-weight: map-get($font-weight, regular);
      color: map-get($colors, white);
    }

    &-form {
      @include flex-centered;
    }

    &-btn {
      flex-shrink: 0;
      width: 175px;
      margin-left: 40px;
    }
  }
}

@include responsive-below(map-get($breakpoint, mobile)) {
  .section-banner {
    // background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%),
    //   url('../../img/fashion-banner-mobile.png');
    height: 812px;

    .offers-list {
      display: none;
    }

    .banner-content {
      padding-top: 343px;
      padding-left: 24px;
    }

    .banner-title {
      font-size: 48px;
      width: 100%;
    }

    .banner-link {
      .btn {
        width: 32px;
        height: 32px;
      }

      &-text {
        margin-left: 16px;
        font-size: 14px;
      }
    }

    &::after {
      display: none;
    }
  }

  .category {
    &-img {
      height: 225px;
    }

    &-content {
      bottom: 16px;
      left: 16px;
    }

    &-title {
      height: 55px;
      font-size: map-get($font-size, md);
    }
  }

  .section-benefits {
    .section-heading {
      margin-bottom: 36px;
    }

    .benefit-item {
      @include evenly-space-y(16px);
    }
    .benefit-item .media {
      flex-direction: row;

      .media-img {
        margin-bottom: 0;
        margin-right: 16px;
      }

      .media-title {
        margin-bottom: 8px;
        font-size: map-get($font-size, xs);
      }

      .media-content {
        font-size: 10px;
      }
    }
  }

  .section-subcribe {
    display: block;
    // background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 33.28%, rgba(0, 0, 0, 0) 94.05%),
    //   url('../../app/assets/images/fashion-footer.png');

    .subcribe {
      height: 217px;
      padding: 24px 0;
      &-title {
        font-size: 14px;
        width: 200px;
      }

      &-form {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        input {
          height: 32px;
          padding: 6px 12px;
          font-size: 12px;
        }
      }

      &-btn {
        margin-left: 0;
        margin-top: 16px;
        width: 120px;
        height: 32px;
        font-size: 13px;
      }
    }
  }
}
