.register {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.form-register {
  width: 500px;
  padding: 40px;
  border-radius: 10px;
  background-color: #eee;
}

.btn-register {
  width: 100%;
}
