* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: #333333;
  text-decoration: none;
}

.section-subcribe, .section-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product:hover::after, .category-img::after {
  position: absolute;
  inset: 0;
}

body {
  position: relative;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #333333;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hide {
  display: none !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 14px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #333333;
  border-radius: 24px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  border: 1px solid #c4c4c4;
}
.btn.btn-primary {
  background-color: #fbb03b;
}
.btn.btn-primary:hover {
  border: 1px solid #fbb03b;
  background-color: #f0a01e;
}
.btn.btn-secondary {
  background-color: #ffffff;
}
.btn.btn-secondary:hover {
  background-color: #c4c4c4;
}
.btn.btn-outline-secondary {
  border: 1px solid #c4c4c4;
  background-color: transparent;
}
.btn.btn-outline-secondary:hover {
  background-color: #c4c4c4;
}
.btn[class*=btn-icon] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 36px;
  height: 36px;
  background-color: transparent;
}
.btn[class*=btn-icon]:hover {
  border: 1px solid transparent;
}
.btn.btn-icon-sm {
  width: 24px;
  height: 24px;
}
.btn.btn-icon-primary {
  background-color: #fbb03b;
}

@media only screen and (max-width: 480px) {
  .btn {
    height: 20px;
    padding: 0 15px;
    font-size: 10px;
  }
}
.logo-link {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: #ffffff;
}
.logo-icon {
  margin-right: 22px;
}

@media only screen and (max-width: 480px) {
  .logo-link {
    font-size: 18px;
  }
  .logo-icon {
    margin-right: 16px;
    width: 38px;
    height: 32px;
  }
}
.badge {
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 12px;
}
.badge.badge-primary {
  color: #ffffff;
  background-color: #ff0000;
}

@media only screen and (max-width: 480px) {
  .badge {
    font-size: 8px;
    padding: 2px 5px;
  }
}
input.form-control {
  height: 48px;
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 61px;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
  margin: -10px;
  flex-wrap: wrap;
}
.row .col-1 {
  width: 8.3333333333%;
  padding: 10px;
}
.row .col-2 {
  width: 16.6666666667%;
  padding: 10px;
}
.row .col-3 {
  width: 25%;
  padding: 10px;
}
.row .col-4 {
  width: 33.3333333333%;
  padding: 10px;
}
.row .col-5 {
  width: 41.6666666667%;
  padding: 10px;
}
.row .col-6 {
  width: 50%;
  padding: 10px;
}
.row .col-7 {
  width: 58.3333333333%;
  padding: 10px;
}
.row .col-8 {
  width: 66.6666666667%;
  padding: 10px;
}
.row .col-9 {
  width: 75%;
  padding: 10px;
}
.row .col-10 {
  width: 83.3333333333%;
  padding: 10px;
}
.row .col-11 {
  width: 91.6666666667%;
  padding: 10px;
}
.row .col-12 {
  width: 100%;
  padding: 10px;
}

@media only screen and (max-width: 480px) {
  .row {
    margin: -4px;
  }
  .row .col-sm-1 {
    width: 8.3333333333%;
    padding: 4px;
  }
  .row .col-sm-2 {
    width: 16.6666666667%;
    padding: 4px;
  }
  .row .col-sm-3 {
    width: 25%;
    padding: 4px;
  }
  .row .col-sm-4 {
    width: 33.3333333333%;
    padding: 4px;
  }
  .row .col-sm-5 {
    width: 41.6666666667%;
    padding: 4px;
  }
  .row .col-sm-6 {
    width: 50%;
    padding: 4px;
  }
  .row .col-sm-7 {
    width: 58.3333333333%;
    padding: 4px;
  }
  .row .col-sm-8 {
    width: 66.6666666667%;
    padding: 4px;
  }
  .row .col-sm-9 {
    width: 75%;
    padding: 4px;
  }
  .row .col-sm-10 {
    width: 83.3333333333%;
    padding: 4px;
  }
  .row .col-sm-11 {
    width: 91.6666666667%;
    padding: 4px;
  }
  .row .col-sm-12 {
    width: 100%;
    padding: 4px;
  }
}
header {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
header .nav-list {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
header .nav-list .nav-item {
  margin-right: 96px;
}
header .nav-list .nav-item:last-child {
  margin-right: 0;
}
header .nav-list .nav-link {
  color: #fbb03b;
}
header .actions-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .action-item {
  margin-right: 24px;
  position: relative;
}
header .action-item:last-child {
  margin-right: 0;
}
header .actions-list-mobile {
  display: none;
}
header .action-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
  height: 18px;
  width: 18px;
  font-weight: 700;
  font-size: 10px;
  color: white;
  border-radius: 50%;
  background-color: red;
}

@media only screen and (max-width: 480px) {
  header {
    background-color: #ffffff;
    top: 0;
  }
  header .header-content {
    height: 72px;
  }
  header .nav-list {
    display: none;
  }
  header .logo-link {
    color: #333333;
  }
  header .logo-link .logo-icon path {
    fill: #000000;
  }
  header .actions-list {
    display: none;
  }
  header .actions-list.actions-list-mobile {
    display: flex;
  }
}
footer {
  background-color: #fbb03b;
  color: #ffffff;
}
footer .footer-top {
  display: flex;
  padding: 40px 0;
}
footer .footer-top-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  margin-right: 170px;
}
footer .footer-top .logo {
  margin-bottom: 24px;
}
footer .footer-top .socials-list {
  display: flex;
  align-items: center;
}
footer .footer-top .socials-list .social-item {
  margin-right: 33px;
}
footer .footer-top .socials-list .social-item:last-child {
  margin-right: 0;
}
footer .footer-top-right {
  flex: 1;
}
footer .footer-top .option-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 19px;
}
footer .footer-top .option-item {
  padding: 4px 0;
}
footer .footer-top .option-item a {
  color: #ffffff;
}
footer .footer-copyright {
  padding: 24px 0;
  border-top: 1px solid #ffffff;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  footer .footer-top {
    flex-direction: column;
    padding: 24px 0;
  }
  footer .footer-top-left {
    width: 100%;
  }
  footer .footer-top .socials-list {
    display: none;
  }
  footer .footer-top .about {
    margin-bottom: 48px;
  }
  footer .footer-top .option-title {
    margin-bottom: 14px;
  }
  footer .footer-top .options-list {
    margin-bottom: 24px;
  }
}
.container {
  max-width: 1172px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-section {
  padding: 48px 0;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}

.section-title {
  flex: 1;
  font-weight: 300;
  font-size: 32px;
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0 24px;
  }
  .page-section {
    padding: 24px 0;
  }
  .section-heading {
    margin-bottom: 16px;
  }
  .section-heading .btn {
    border: 1px solid transparent;
  }
  .section-title {
    font-size: 18px;
  }
}
.text-primary {
  color: #fbb03b;
}

.text-center {
  text-align: center;
}

.txt-underline {
  text-decoration: underline;
}

.mg-1 {
  margin: 4px;
}

.section-banner {
  padding: 0;
  position: relative;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/fashion-banner-1.png");
  height: 800px;
}
.section-banner .banner-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 800px;
}
.section-banner .banner-content {
  padding: 222px 0 0 96px;
  color: #ffffff;
}
.section-banner .banner-title {
  width: 403px;
  margin-bottom: 24px;
  line-height: 73px;
  font-size: 72px;
}
.section-banner .banner-link {
  display: flex;
  align-items: center;
}
.section-banner .banner-link-text {
  margin-left: 21px;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.section-banner .offers-list {
  display: flex;
  padding: 0 0 24px 96px;
  z-index: 1;
}
.section-banner .offers-list .offer-item {
  margin-right: 48px;
  max-width: 236px;
}
.section-banner .offers-list .offer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #fff3df;
}
.section-banner::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 125px;
  width: 75%;
  border-top-right-radius: 70px;
  background-color: #ffffff;
}

.category {
  position: relative;
}
.category-img {
  position: relative;
  height: 359px;
}
.category-img::after {
  content: "";
  background-color: #333333;
  opacity: 0.5;
}
.category-content {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  left: 40px;
  bottom: 53px;
  color: #ffffff;
}
.category-content .badge {
  margin-bottom: 8px;
}
.category-title {
  height: 91px;
  font-size: 24px;
  font-weight: 400;
}

.section-benefits {
  background-color: #f7f7f7;
}
.section-benefits .benefit-item:hover svg path {
  fill: #fbb03b;
  transition: 0.2s ease-in-out;
}
.section-benefits .benefit-item:hover .media-title {
  color: #fbb03b;
  transition: 0.2s ease-in-out;
}
.section-benefits .section-heading {
  margin-bottom: 50px;
}
.section-benefits .benefit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.section-subcribe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 33.28%, rgba(0, 0, 0, 0) 94.05%), url("../img/fashion-footer.png");
}
.section-subcribe .subcribe {
  height: 241px;
  align-items: center;
}
.section-subcribe .subcribe-title {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.section-subcribe .subcribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-subcribe .subcribe-btn {
  flex-shrink: 0;
  width: 175px;
  margin-left: 40px;
}

@media only screen and (max-width: 480px) {
  .section-banner {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("../../img/fashion-banner-mobile.png");
    height: 812px;
  }
  .section-banner .offers-list {
    display: none;
  }
  .section-banner .banner-content {
    padding-top: 343px;
    padding-left: 24px;
  }
  .section-banner .banner-title {
    font-size: 48px;
    width: 100%;
  }
  .section-banner .banner-link .btn {
    width: 32px;
    height: 32px;
  }
  .section-banner .banner-link-text {
    margin-left: 16px;
    font-size: 14px;
  }
  .section-banner::after {
    display: none;
  }
  .category-img {
    height: 225px;
  }
  .category-content {
    bottom: 16px;
    left: 16px;
  }
  .category-title {
    height: 55px;
    font-size: 16px;
  }
  .section-benefits .section-heading {
    margin-bottom: 36px;
  }
  .section-benefits .benefit-item {
    margin-bottom: 16px;
  }
  .section-benefits .benefit-item:last-child {
    margin-bottom: 0;
  }
  .section-benefits .benefit-item .media {
    flex-direction: row;
  }
  .section-benefits .benefit-item .media .media-img {
    margin-bottom: 0;
    margin-right: 16px;
  }
  .section-benefits .benefit-item .media .media-title {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .section-benefits .benefit-item .media .media-content {
    font-size: 10px;
  }
  .section-subcribe {
    display: block;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 33.28%, rgba(0, 0, 0, 0) 94.05%), url("../../img/fashion-footer-mobile.png");
  }
  .section-subcribe .subcribe {
    height: 217px;
    padding: 24px 0;
  }
  .section-subcribe .subcribe-title {
    font-size: 14px;
    width: 200px;
  }
  .section-subcribe .subcribe-form {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .section-subcribe .subcribe-form input {
    height: 32px;
    padding: 6px 12px;
    font-size: 12px;
  }
  .section-subcribe .subcribe-btn {
    margin-left: 0;
    margin-top: 16px;
    width: 120px;
    height: 32px;
    font-size: 13px;
  }
}
.cart {
  padding-top: 80px;
  padding-bottom: 40px;
}
.cart-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.cart-item-left {
  display: flex;
}
.cart-item .badge {
  position: absolute;
  top: 25px;
  left: 5px;
  font-size: 8px;
  padding: 0 4px;
}
.cart-name {
  font-size: 16px;
}
.cart-img {
  height: 140px;
  margin-right: 20px;
}
.cart-price {
  display: flex;
  font-size: 18px;
}
.cart-price .price-discount {
  color: #ff0000;
  margin-right: 20px;
}
.cart-price .price-discount + .price-current {
  color: #aeaeae;
}
.cart-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item-total span {
  color: #fbb03b;
}
.cart-option {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
.cart-option .quantity button {
  padding: 5px 10px;
}
.cart-option .quantity input {
  padding: 5px;
  width: 40px;
  text-align: center;
}
.cart-option .quantity input[type=number]::-webkit-inner-spin-button,
.cart-option .quantity input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.cart-option .remove-btn {
  height: 30px;
  color: #ff0000;
}
.cart-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 700;
  font-size: 20px;
  color: #fbb03b;
}
.cart-total p {
  margin-bottom: 20px;
}
.cart-total p span {
  margin-left: 20px;
  color: #000000;
}
.cart-total button {
  height: 40px;
  width: 100px;
}
.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-empty-img {
  width: 400px;
  height: 200px;
}

.product {
  position: relative;
  transition: 0.2s ease-in-out;
}
.product-img {
  display: flex;
  margin-bottom: 16px;
}
.product-name {
  font-weight: 300;
  font-size: 16px;
}
.product-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 20px;
}
.product-price .price-discount {
  color: #ff0000;
}
.product-price .price-discount + .price-current {
  color: #cecece;
}
.product .badge {
  position: absolute;
  top: 30px;
  left: 27px;
}
.product-btn {
  position: absolute;
  left: 50%;
  bottom: 100px;
  height: 35px;
  padding: 10px;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1;
}
.product:hover::after {
  content: "";
  background-color: #acacac;
  opacity: 0.2;
}
.product:hover .product-btn {
  opacity: 1;
}

@media only screen and (max-width: 480px) {
  .product-img {
    margin-bottom: 0;
  }
  .product-name {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .product-price {
    font-size: 10px;
  }
  .product-info {
    padding: 4px;
  }
  .product .badge {
    top: 12px;
    left: 9px;
  }
}
.media {
  display: flex;
}
.media-img {
  flex-shrink: 0;
  margin-right: 21px;
  width: 68px;
  height: 68px;
  border-radius: 10px;
  overflow: hidden;
}
.media-title {
  margin-bottom: 4px;
}
.media-content {
  font-size: 12px;
  color: #a8a8a8;
}
.media-sm .media-img {
  width: 36px;
  height: 36px;
}
.media.media-vertical {
  flex-direction: column;
}
.media.media-vertical .media-img {
  margin-right: 0;
  margin-bottom: 46px;
}
.media.media-vertical .media-title {
  margin-bottom: 16px;
}

/*# sourceMappingURL=style.css.map */
